h1 {color: RGB(9,40,53);
  text-align:left;
  font-family: sans-serif;
	font-size: 50px;
}

div.contrast {
  background-color: #000;
  color: #FFF;
  display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.carousel {
width:800px;
height:800px;
}

header {
  background: #4C28A1;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

header a {
  color: #FEFEFE;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #FEFEFE;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.mt-3 {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 500px;
}

.col {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}


.footer_middle p {
  font-family: montserrat;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

ul.footer_list {
  list-style: none;
  padding-left: 0px;
}
ul.footer_list li {
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.6;
  font-weight: 500;
}

ul.footer_list li.phone {
  font-size: 22px;
    color: rgba(0, 0, 0, 1);
}

ul.footer_list li a {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  text-transform: none;
}
ul.footer_list a:hover {
  color: rgba(54, 204, 142, 1);
  text-decoration: none;
  list-style: none;
}

.footer_middle h4{
  font-family: montserrat;
  font-size: 24px;
}


.footer_middle {
  text-align: center;
  padding: 0;
}

.footer-left h4 {
  font-family: montserrat;
  font-size: 18px;
  margin-bottom: 10px;
}

#hero-cta-email {
  height: 50px;
  width: 60%;
}

.hero-cta__form input {
  width: 100%;
  float: left;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding-left: 15px;
  font-size: 16px;
  line-height: 18px;
  height: 18px;
  font-family: raleway;
  font-weight: 400;
  opacity: 1;
  display: block;
  margin-top: 10px;
}

.hero-cta__form input:focus {
  outline: none;
}

.emailsignup {
  font-family: montserrat;
  font-size: 16px;
  margin-left: 15px;
  height: 50px;
  width: 30%;
  border: none;
  background-color: rgb(44,4,81);
  color: #fff;
  text-transform: uppercase;
  border-radius: 50px;
  margin-top: 10px;
}


.footer_trust_top {
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

.footer_trust_top p {
  font-family: montserrat;
  font-size: 18px;
  font-weight: 400;
  color: rgb(0, 0, 0, 0.5);
}

  .footer-left {
    padding-left: 0px;
    justify-content: flex-start;
  }


.footer_main {
  margin: 20px 0px 20px 0px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 80px;
  height: 80px;
  text-align: right;
  text-decoration: none;
  border-radius: 50%;
  color: rgb(44,4,81);
  float: right;
}
#about .myDiv {font-size: 40px;
}
