h1 {color: RGB(9,40,53);
  text-align:left;
  font-family: sans-serif;
	font-size: 50px;
}

div.contrast {
  background-color: #000;
  color: #FFF;
  display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

nav::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  background: #4C28A1;
  float: right;
  width: 100%;
  display: flex;
}

nav a {
  color: #FEFEFE;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #000;
}

.navbar-brand
{
  position: absolute;
  width: 100%;
  left: 0;
  text-align: left;
  margin-left: 30px;
  font-size: 30px;
  margin: 0;
  background: #4C28A1;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display; flex;
}

nav li {
  display: inline-block;
  margin-left: 120px;
  padding-top: 23px;
  position: relative;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.mt-3 {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 500px;
}

.col {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-right: auto;
  margin-left: auto;
  background: #F5F5F5;
  margin-bottom: 12px;
  resize: vertical;
  margin-right: 70px
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float; left;
}

input[type=submit]:hover {
  background-color: #45a049;
}


.contact-us{
  width: 40%;
  margin-left: 30%;
  border-radius: 0px;
  background-color: white;
  padding: 20px;
  margin-right: 30%;
}
.contact-h1 {
  width: 40%
  margin-left: 50%
  margin-right: 30%
}

ul
{
list-style-type: none;
}

footer{
  position: relative;
    bottom: 20px;
    top: -30px;
}

.footer-socials {
  position: relative; left: 290px;
}

.footer-newsletter {
  position: relative;left: 150px;
}
.footer-links {
  color: #FFFFFF;
}

  .fa {
    padding: 15px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
     color: #4C28A1;
  }
  .fa:hover {
    opacity: 0.7;
  }
  a:link {
    text-decoration: none;
}

  a:hover{
    color: #4C28A1
  }

.btn {
  font-size: 12px;
  background-color: #4C28A1;
}
#hero-cta-email {
  border-radius: 5px;
}

.outer{background:#734e91;  padding:12px}
.wrap{margin:0 auto; }
.sub{
    padding:12px;
    width:32%;
    height:150px;
    background:#734e91;
    display:table-cell;
     border-right:solid #a175c4 1px;
}
.sub:last-child{border:0px}
