
nav::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  background: #0000b3;

  width: 100%;
  display: flex;
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: #FFFFFF;
}

.navbar-brand
{

  width: 100%;
  left: 0;
  text-align: left;
  margin-left: 50px;
  font-size: 100px;
  margin: 0px;
  background: #3333cc;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display; flex;
}

nav li {
  display: inline-block;
  margin-left: 100px;
  padding-top: 23px;
  position: relative;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

#anchor {
  scroll-behavior: smooth;
}


.mt-3 {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 500px;
}

.col {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.row {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#carousel {
  margin-top: 110px;
}

#anchor {
    /* places the contents of the element 100px from the top of the view-port */
    padding-top: 100px;
}

#logo {
  margin-top: 150px;
}

#form {
  margin-top: 50px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-right: auto;
  margin-left: auto;
  background: #F5F5F5;
  margin-bottom: 12px;
  resize: vertical;
  margin-right: 70px
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


.contact-us{
  width: 40%;
  margin-left: 30%;
  border-radius: 0px;
  background-color: blue;
  padding: 20px;
  margin-right: 30%;
}
.contact-h1 {
  width: 40%
  margin-left: 50%
  margin-right: 30%
}


body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
.footer {
  grid-row-start: 2;
  grid-row-end: 3;
}
